*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
DroidPlugin/build/generated/assets/
DroidPlugin/build/generated/res/
DroidPlugin/build/generated/source/aidl/androidTest/
DroidPlugin/build/generated/source/apt/
DroidPlugin/build/generated/source/rs/
DroidPlugin/build/intermediates/bundles/debug/aidl/
DroidPlugin/build/intermediates/bundles/debug/assets/
DroidPlugin/build/intermediates/check-manifest/
DroidPlugin/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
DroidPlugin/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
DroidPlugin/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
DroidPlugin/build/intermediates/incremental/packageDebugResources/stripped.dir/
DroidPlugin/build/intermediates/incremental/processDebugAndroidTestResources/
DroidPlugin/build/intermediates/incremental/processDebugResources/
DroidPlugin/build/intermediates/intermediate-jars/debug/jni/
DroidPlugin/build/intermediates/jniLibs/
DroidPlugin/build/intermediates/lint/
DroidPlugin/build/intermediates/rs/
DroidPlugin/build/intermediates/shaders/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/am/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/core/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/hook/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/pm/parser/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/reflect/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/stub/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/helper/
DroidPlugin/build/intermediates/tmp/
DroidPlugin/build/tmp/
app/src/androidTest/
app/src/test/
